.root {
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
  box-shadow: 0 0 0 0 #dedede;
  transition: box-shadow 0.3s ease;

  &.dragging {
    box-shadow: 0 0 10px 5px #2196f3;
  }  
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  transition: filter 0.3s ease, box-shadow 0.3s ease;

  .image, .circle {
    transition: filter 0.3s ease; 
  }

  &:hover {
    .circle, .image { filter: brightness(0); }
    .plus { opacity: 1; }
  }

  .plus {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease, fill 0.3s ease;
  }
}

.field {
  margin-bottom: 20px !important;
  transition: border-color 0.3s ease !important;
}