.root {
  padding: 10px 0;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.mobile {
  display: flex;
  justify-content: end;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  padding: 0 10px;
  background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
  box-shadow: 0 3px 5px 2px rgba(33, 203, 243, .3);
}

.buttons {
  color: inherit;
  button{
    margin-left: 10px;
    text-decoration: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 600px) {
  .logo {
    font-size: 14px;
  }
}